# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/

# Git
.git
.gitignore

# VS Code
.vscode/

# Environment Variables
.env
*.env

# Logs
*.log

# Pytest
.pytest_cache/

# OS files
.DS_Store
Thumbs.db